<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href={% static "blog/css/bootstrap.min.css" %}>
    <script type="text/javascript" src={% static "blog/js/bootstrap.min.js" %}>

    </script>
  </head>
  <body>
<div class="container">
    <form class="form-group" action="" method="post" enctype="multipart/form-data">
      {{form.as_p}}
      {% csrf_token %}
      <input type="submit" name="" value="Register" class="btn btn-primary">
    </form>

</div>
  </body>
</html>
